.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}
a.dropdown-toggle {
    color: rgba(255, 255, 255, 0.75);

}
a.dropdown-toggle:hover {
    color: rgba(255, 255, 255);
}